<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="static/css/lib/global.css">
</head>
<body>
    <%- include('include/header.html')%>
    <div class="container">
        <%- include('include/menu.html')%>
        <div id="root" class="main">
            <div class="main-column-box">
                <div class="main-column-header">
                    <h3 class="main-column-title"><%=columnTitle%></h3>
                </div>
                <div class="main-column-body">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>系统参数</th>
                                <th>服务器变量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table class="data-table">
                                        <col width="120">
                                        <tbody>
                                            <tr><td class="data-table-column-title">系统名称</td><td></td></tr>
                                            <tr><td class="data-table-column-title">系统设计</td><td></td></tr>
                                            <tr><td class="data-table-column-title">系统版本</td><td></td></tr>
                                            <tr><td class="data-table-column-title">授权用户</td><td></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table class="data-table">
                                        <col width="280">
                                        <tbody>
                                            <tr><td class="data-table-column-title">当前域名</td><td><a href="<%=host%>"><%=host%></a></td></tr>
                                            <tr><td class="data-table-column-title">服务器版本</td><td></td></tr>
                                            <tr><td class="data-table-column-title">脚本执行时间</td><td></td></tr>
                                            <tr><td class="data-table-column-title">服务器接受语言</td><td></td></tr>
                                            <tr><td class="data-table-column-title">访问者浏览器版本及系统</td><td></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="data-table mt20">
                        <thead>
                        <tr>
                            <th>联系方式</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <table class="data-table">
                                    <col width="120">
                                    <tbody>
                                        <tr><td class="data-table-column-title">电子邮件</td><td>系统名称 -›</td></tr>
                                        <tr><td class="data-table-column-title">QQ</td><td>系统名称 -›</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>